node_modules
.DS_Store
dist
dist-ssr
*.local
*.log
logs
**/*.backup.*
**/*.back.*

.yarn/*
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

# if you are NOT using Zero-installs, then:
# comment the following lines
!.yarn/cache
